body{
    background-color: #250e0e;
    font-family: Arial, sans-serif;
    margin: 40px;
    padding: 30px;
    border-radius: 8px;
    font-size: 3x;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
color: red;
}
i{
    color: rgb(251, 251, 251);
    font-size: 20px;


}
li{
    color: rgb(237, 226, 226);
    font-size: 20px;
    list-style-type: none; /* Remove bullet points */
    margin-bottom: 10px; /* Add space between items */
}
h2{
    color: blue;
    font-size: 24px;
    margin-top: 20px; /* Add space above the heading */
}
b{
    color: greenyellow;
    text-shadow: -1px 10px 10px black;
    font-size: 20px;

}
h1{
    color: #fff;
    font-size: 36px;
    margin-bottom: 20px; /* Add space below the heading */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
th{
    color: #130303;
    font-size:20px ; 
    color:rgb(234, 255, 0);
    text-shadow: 10px 10px 10px #000;
}
#exciting {
    background: linear-gradient(to bottom, #0b0907, #f69d3c);
    border: 1px solid #696969;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
  }
  
  #exciting:before {
    content: "ℹ️";
    margin-right: 5px;
    box-shadow: 10px 10px 10px #43a701;
  }
    #exciting p {
        margin: 0;
        color: #fff;
        font-weight: bold;
    }
    hr {
        border: none;
        height: 2px;
        background: linear-gradient(to right, #ff0000, #ffff00, #00ff00, #00ffff, #0000ff, #ff00ff);
        margin: 20px 0;
    }
  